dist: xenial

language: node_js

node_js:
  - "8"

stages:
  - lint
  - deploy

jobs:
  include:
    - stage: lint
      name: EditorConfig Syntax Verification
      install:
        - npm install -g eclint
        - eclint --version
      script: eclint check
    - stage: lint
      name: Shell Script Syntax Verification
      script: make sh/lint
    - stage: lint
      name: JSON Lint/Format Verification
      script: make json/lint
    - stage: lint
      name: Terraform Lint/Format Verification
      install:
        - make terraform/install
        - make terraform-docs/install
      script:
        - make terraform/lint
        - make docs/lint
    - stage: lint
      language: python
      python: 3.6
      name: Python Lint/Format Verification
      install: pip install -r requirements/dev.txt
      script: make python/lint
    - stage: deploy
      if: branch = master AND type = push AND repo = plus3it/terraform-github-repo
      before_script:
        - |
          PRIOR_VERSION=$(git describe --abbrev=0 --tags)
          RELEASE_VERSION=$(grep current_version $TRAVIS_BUILD_DIR/.bumpversion.cfg | sed 's/^.*= //' )
          RELEASE_BODY="* [terraform-github-repo v$RELEASE_VERSION CHANGELOG](https://github.com/plus3it/terraform-github-repo/blob/$RELEASE_VERSION/CHANGELOG.md)"
          export PRIOR_VERSION RELEASE_VERSION RELEASE_BODY
      script: skip
      before_deploy:
        - |
          (set -x; git tag -a $RELEASE_VERSION -m $RELEASE_VERSION)
      deploy:
        provider: releases
        api_key:
          secure: OKc8foqATIHqwjhhYZW8ml5GP826C+vkfikbr1lvUQ4LXLOP2H8ta36QSJiCqvssYXyzzvbZMkfiPRPg7d92PxLEp6SZa3fNW4aLAL/z9NE2jJknn2cOVcfmDSSv+yjhsXLlc7n5ywvvA0DN3E9r4jL83aqSEvYmKYPnlHCTNcPyomHkHUOSMn9Q9MxWzXrI5emd13H2z5hOQjEpWqMfOuODuJ3sri4+/uFFUX8Nn37tAnA1s3Jqd3NW5n8FS3REYJ/iVJH3RUH8SjWmuvPm/s4Kd9vXL2TGJ/zobIyFjyGhK3IIH+rJcqTJvB+WFVLAZqTdveM6gw+wX34lMfIWWNvxoHTC23HJMS1SR98/4qVcvlbfEGLUUggOWm6npRy8dddbC6xK41PfvgI3wY3gHN2H0m9ZRvPHQEKQsRIqYqiSYsrmtL9cWYH5FYXtUFNB9lydIaDV86B38EngYsOB8ZM+QeFRDPj0gE+3p0bprGE9WKUkhzLLeWWsPj2IatH6fr19fJjkiDOLISGTufY8w1TJRHn5kOmvYnQol6qBRGu3qevuF7JDG/t+D7k29VBXDLKRNy/e7mO4k7y9kUuSj40Y/a2KWbV+vh5sXF526eZPZ5Yh/Ndok6xiUJTP+cwMbUDP7LKYphSxyN/bmDy56ocT0oKPeXo//boqSYChfcg=
        name: $RELEASE_VERSION
        body: $RELEASE_BODY
        tag_name: $RELEASE_VERSION
        target_commitish: $TRAVIS_COMMIT
        draft: false
        on:
          branch: master
          repo: plus3it/terraform-github-repo
          condition: '"$PRIOR_VERSION" != "$RELEASE_VERSION"'
